// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * MacBook Pro (16-inch, M3 Max, 2023)
 *
 * target-type: J516c
 *
 * Copyright The Asahi Linux Contributors
 */

/dts-v1/;

#include <dt-bindings/leds/common.h>

#include "t6031.dtsi"

/ {
	compatible = "apple,j516c", "apple,t6031", "apple,arm-platform";
	model = "Apple MacBook Pro (16-inch, M3 Max, 2023)";

	aliases {
		atcphy0 = &atcphy0;
		atcphy1 = &atcphy1;
		atcphy2 = &atcphy2;
		atcphy3 = &atcphy3;
		serial0 = &serial0;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "serial0";

		framebuffer0: framebuffer@0 {
			compatible = "apple,simple-framebuffer", "simple-framebuffer";
			reg = <0 0 0 0>; /* To be filled by loader */
			/* Format properties will be added by loader */
			status = "disabled";
			power-domains = <&ps_disp_fe>;
			//panel = &panel; FIXME
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		/* To be filled by loader */
	};

	memory@10000000000 {
		device_type = "memory";
		reg = <0x100 0 0x2 0>; /* To be filled by loader */
	};

	led-controller {
		compatible = "pwm-leds";
		led-0 {
			pwms = <&fpwm0 0 40000>;
			label = "kbd_backlight";
			function = LED_FUNCTION_KBD_BACKLIGHT;
			color = <LED_COLOR_ID_WHITE>;
			max-brightness = <255>;
			default-state = "keep";
		};
	};
};

&serial0 {
	status = "okay";
};

&fpwm0 {
	status = "okay";
};

&atcphy3 {
	apple,mode-fixed-dp;
};

&atcphy3_xbar {
	status = "okay";
};

/* USB Type C */
&nub_spmi_a0 {
	hpm0: usb-pd@c {
		compatible = "apple,cd321x";
		reg = <0xc SPMI_USID>;
		interrupts = <11 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq";

		typec0: connector {
			compatible = "usb-c-connector";
			label = "USB-C Left Rear";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec0_con_hs: endpoint {
						remote-endpoint = <&typec0_usb_hs>;
					};
				};
/*
				port@1 {
					reg = <1>;
					typec0_con_ss: endpoint {
						remote-endpoint = <&typec0_usb_ss>;
					};
				};
*/
			};
		};
	};

	hpm1: usb-pd@a {
		compatible = "apple,cd321x";
		reg = <0xa SPMI_USID>;
		interrupts = <37 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq";

		typec1: connector {
			compatible = "usb-c-connector";
			label = "USB-C Left Front";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec1_con_hs: endpoint {
						remote-endpoint = <&typec1_usb_hs>;
					};
				};
/*
				port@1 {
					reg = <1>;
					typec1_con_ss: endpoint {
						remote-endpoint = <&typec1_usb_ss>;
					};
				};
*/
			};
		};
	};

	/* MagSafe port */
	hpm5: usb-pd@6 {
		compatible = "apple,cd321x";
		reg = <0x6 SPMI_USID>;
		interrupts = <89 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq";
	};
};

&nub_spmi_a1 {
	hpm2: usb-pd@8 {
		compatible = "apple,cd321x";
		reg = <0x8 SPMI_USID>;
		interrupts = <63 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "irq";

		typec2: connector {
			compatible = "usb-c-connector";
			label = "USB-C Right";
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					reg = <0>;
					typec2_con_hs: endpoint {
						remote-endpoint = <&typec2_usb_hs>;
					};
				};
/*
				port@1 {
					reg = <1>;
					typec2_con_ss: endpoint {
						remote-endpoint = <&typec2_usb_ss>;
					};
				};
*/
			};
		};
	};
};

/* USB controllers */
&dwc3_0 {
	port {
		typec0_usb_hs: endpoint {
			remote-endpoint = <&typec0_con_hs>;
		};
	};
};

&dwc3_1 {
	port {
		typec1_usb_hs: endpoint {
			remote-endpoint = <&typec1_con_hs>;
		};
	};
};

&dwc3_2 {
	port {
		typec2_usb_hs: endpoint {
			remote-endpoint = <&typec2_con_hs>;
		};
	};
};

/* Type-C PHYs */
#if 0
&atcphy0 {
	port {
		typec0_usb_ss: endpoint {
			remote-endpoint = <&typec0_con_ss>;
		};
	};
};

&atcphy1 {
	port {
		typec1_usb_ss: endpoint {
			remote-endpoint = <&typec1_con_ss>;
		};
	};
};

&atcphy2 {
	port {
		typec2_usb_ss: endpoint {
			remote-endpoint = <&typec2_con_ss>;
		};
	};
};
#endif

// Disabled for now since t6030 doesn't include those nodes...
// enable once generalized to other SoCs that have USB on ATC3
#if 0
/* ATC3 is used for DisplayPort -> HDMI only */
&dwc3_3_dart_0 {
	status = "disabled";
};

&dwc3_3_dart_1 {
	status = "disabled";
};

&dwc3_3 {
	status = "disabled";
};
/* Delete unused dwc3_3 to prevent dt_disable_missing_devs() from disabling
 * atcphy3 via phandle references from a disablecd device.
 */
/delete-node/ &dwc3_3;
#endif

&ps_atc3_usb_aon {
	/delete-property/ apple,always-on;
};
